.row{
    width: 100%;
    display: flex;
}
.col{
    width: 100%;
    border: 1px solid #000;
}
.col-2{
    width: 20%;
    border: 1px solid #000;

}
.col-4{
    width: 40%;
    border: 1px solid #000;
}
.col-6{
    width: 60%;
    border: 1px solid #000;
}
.col-8{
    width: 80%;
    border: 1px solid #000;
}
.col-10{
    width: 100%;
    border: 1px solid #000;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}